// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
font-family: "Klavika Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
color: #8b9dc3;
    position:relative;
    font-weight:bold;
    line-height:66px;
}

h2 { 
font-family: "Klavika Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
color: #8b9dc3;
    position:relative;
    font-weight:bold;
    line-height:66px;
}